<div class="main-wrapper">
  <form>
    <div class="form-group row">
      <div class="col-12 col-border search-wrapper">
        <input type="search" class="form-control form-control-lg" id="search-input" placeholder="Search for Restaurants by Name, Cuisine, Location">
      </div>
    </div>
  </form>
  <div class="row results-wrapper">
    <div class="col-3 col-border filters">
      <p class="title">Cuisine/Food Type</p>
      <ul id="restaurant-type" class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link nav-with-count active" href="#">
            Italian
            <span class="restaurant-count active">70</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-with-count" href="#">
            American
            <span class="restaurant-count">47</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-with-count" href="#">
            Californian
            <span class="restaurant-count">42</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-with-count" href="#">
            French
            <span class="restaurant-count">31</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-with-count" href="#">
            Seafood
            <span class="restaurant-count">29</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-with-count" href="#">
            Japanese
            <span class="restaurant-count">27</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-with-count" href="#">
            Indian
            <span class="restaurant-count">19</span>
          </a>
        </li>
      </ul>
      <p class="title">Rating</p>
      <ul id="rating" class="nav flex-column">
        <li class="nav-item">
          <a class="stars stars0" href="#"><span>&nbsp;</span></a>
        </li>
        <li class="nav-item">
          <a class="stars stars1" href="#"><span>&nbsp;</span></a>
        </li>
        <li class="nav-item">
          <a class="stars stars2" href="#"><span>&nbsp;</span></a>
        </li>
        <li class="nav-item">
          <a class="stars stars3" href="#"><span>&nbsp;</span></a>
        </li>
        <li class="nav-item">
          <a class="stars stars4" href="#"><span>&nbsp;</span></a>
        </li>
        <li class="nav-item">
          <a class="stars stars5" href="#"><span>&nbsp;</span></a>
        </li>
      </ul>
      <p class="title">Payment Options</p>
    </div>
    <div class="col-9 col-border results">
      <div class="results-header">
        <p id="search-count"><span class="results-found">34 results found</span><span class="in-seconds">in 0.002 seconds</span><span class="hline">&nbsp;</span></p>
      </div>
      <div class="results-list-wrapper">
        <div class="restaurant-list">
          <div class="row restaurant restaurant-id">
            <div class="restaurant-image">
              <img src="http://placehold.it/100x100">
            </div>
            <div class="description">
              <p class="restaurant-title">Anchor and Hope</p>
              <p class="restaurant-rating">
                <span class="stars-count">4.2</span>
                <span class="stars stars4"><span class="stars-inline">&nbsp;</span></span>
                <span class="reviews">(1897 reviews)</span>
              </p>
              <p class="restaurant-info">
                <span class="food-type">American &amp; Seafood</span> |
                <span class="location">SOMA</span> |
                <span class="price-range">&dollar;31 to &dollar;50</span>
              </p>
            </div>
          </div>
          <div class="row restaurant restaurant-id">
            <div class="restaurant-image">
              <img src="http://placehold.it/100x100">
            </div>
            <div class="description">
              <p class="restaurant-title">Bluestem Brasserie</p>
              <p class="restaurant-rating">
                <span class="stars-count">4.1</span>
                <span class="stars stars4"><span class="stars-inline">&nbsp;</span></span>
                <span class="reviews">(1123 reviews)</span>
              </p>
              <p class="restaurant-info">
                <span class="food-type">American</span> |
                <span class="location">Downtown / Union Square</span> |
                <span class="price-range">&dollar;31 to &dollar;50</span>
              </p>
            </div>
          </div>
          <div class="row restaurant restaurant-id">
            <div class="restaurant-image">
              <img src="http://placehold.it/100x100">
            </div>
            <div class="description">
              <p class="restaurant-title">Boulevard</p>
              <p class="restaurant-rating">
                <span class="stars-count">3.5</span>
                <span class="stars stars3"><span class="stars-inline">&nbsp;</span></span>
                <span class="reviews">(4996 reviews)</span>
              </p>
              <p class="restaurant-info">
                <span class="food-type">American</span> |
                <span class="location">Financial District / Embarcadero</span> |
                <span class="price-range">&dollar;31 to &dollar;50</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="results-show text-center">
        <a href="#" class="btn btn-secondary btn-lg">Show More</a>
      </div>
    </div>
  </div>
</div>